* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
body {
    background-color: whitesmoke;
    padding: 2%;
    color: #403f3f;
    width: 80%;
    margin: auto;
}
a {
    color: #403f3f;
    text-decoration-thickness: 0.2rem;
    text-decoration-color: #e2d27c;
    text-underline-offset: 0.7rem;
    transition: 0.3s all ease-in;
}
a:hover {
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 0.5rem;
    transition: 0.3s all ease-in;
    text-decoration-color: #403f3f;
}
.name {
    margin-top: 5%;
}
.name, .project__text__title  {
    font-size: 16px;
}
.title h1 {
    font-size: 35px;
}
.title h1, .project__text__subtitle  {
    font-weight: 200;
}
.name, .title {
    margin-bottom: 100px;
}
.project__text, .project__text {
    padding-bottom: 10%;
}
.project__text__title {
    padding-bottom: 18px;
}
.project__text__subtitle {
    padding-bottom: 40px;
    font-size: 30px;
}
.project__text__explanation, .about__text {
    padding-bottom: 30px;
    line-height: 25px;
}
.project__image__container img{
    width: 100%;
    padding-bottom: 40px;
}

.project__image__container--wider, .project__image__container--wider2 {
    margin-bottom: 15%;
}
.box {
    padding: 15px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: steelblue;
    color: whitesmoke;
}
.animated {
    opacity: 0;
    transition: all 1s;
}
.showTop {
    animation: showTop 1s;
}

@keyframes showTop {
    0% {
        transform: translateY(70px);
        
    }
    100% {
        transform: translateY(0px);
        
    }
}

.about {
    margin-bottom: 10%;
}
.about__text__span, .about__text__links {
    font-weight: 600;
}
.about__text__links {
    color: #403f3f;
    margin-left: 2%;
    font-size: 14px;
}
.about__text__links:first-child {
    margin-left: 0;
}
/* PROJECT 1
.project {
    background-color: rgba(245, 245, 245, 0.6);
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: center;
    
}
/* .project__container {
    max-height: 80%;
    max-width: 80%;
    overflow-y: scroll;
    background-color: whitesmoke;
} */
 /* .project-pop-up {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none; 
}  */


@media only screen and (min-width: 768px) {
    .project__image__container {
        width: 75%;
        text-align: center;
        margin: auto;
   }
   .project__image__container--wider, .project__image__container--wider2 {
    margin-bottom: 10%;
}
}

@media only screen and (min-width: 900px) {

   .project__text, .title, .about__text {
        width: 400px;
   }
   .project__image__container {
       width: 300px;
       margin-left: 0;
   }
   .project__image__container--wider img, .project__image__container--wider2 img{
       width: 300px;
   }
   .project__image__container--wider, .project__image__container--wider2 {
        width: 100%;
        text-align: center;
        margin: auto;
        margin-bottom: 10%;
   }
   
   .project__image__container--padding1 {
    margin: 2%;
   }
   .project__image__container--padding2 {
    margin: 6%;
   }
    .project__container .project__image__container img {
        width: 35%;
    }
    .project__image__container:first-child img {
        width: 100%;

    }

  }
  @media only screen and (min-width: 1200px) {

 
    .project__image__container {
        width: 350px;
    }
    .project__image__container--wider img, .project__image__container--wider2 img{
        width: 350px;
    }
    .project__image__container--wider, .project__image__container--wider2 {
         width: 100%;
         margin: auto;
         margin-bottom: 10%;
    }
    
    .project__image__container--padding1 {
     margin: 3%;
    }
    .project__image__container--padding2 {
     margin: 8%;
    }
 
   }
   @media only screen and (min-width: 1500px) {

 
    .project__image__container {
        width: 400px;
    }
    .project__image__container--wider img, .project__image__container--wider2 img{
        width: 400px;
    }
    .project__image__container--wider, .project__image__container--wider2 {
         width: 100%;
         margin: auto;
         margin-bottom: 10%;
    }
    
    .project__image__container--padding1 {
     margin: 5%;
    }
    .project__image__container--padding2 {
     margin: 10%;
    }
 
   }
    
  
 
 